name: Build LaTeX PDF

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build PDF
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex

      - name: Rename PDF
        run: mv main.pdf ${{ github.repository_owner }}.pdf

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: pdf-output
          path: ${{ github.repository_owner }}.pdf
